
.root {
    -fx-font-family: "Noto Sans";
    -fx-font-smoothing-type: lcd;
}

#statusBar {
    -fx-background-color: lightgray;
    -fx-border-color: darkgray;
}

.table-column {
    -fx-alignment: center;
}